.newsletter {
	position: relative;
}
.bg-overlay {
	background-color: #00052b;
    opacity: 0.38;
    transition: background 0.3s, border-radius 0.3s, opacity 0.3s;
    height: 100%;
    width: 100%;
    top: 0;
    left: 0;
    position: absolute;
}
section.newsletter {
    background-image: url(..//images/pattern1.jpg);
        background-position: center center;
    background-size: cover;
        transition: background 0.3s, border 0.3s, border-radius 0.3s, box-shadow 0.3s;
    padding: 80px 0px 80px 0px;
    width: 100%;
    float: left;
}
.newsletter-form {
    margin: 0;
    width: 50%;
}
.img_newsletter img {
    width: 400px;
    position: absolute;
    left: 0;
    top: -220px;
}
.newsletter-form  form {
    display: flex;
}
/*.img_newsletter {
    width: 50%;
    float: left;
}*/
.inner_container {
    z-index: 2;
    justify-content: space-between;
    display: flex;
    position: relative;
    align-items: center;
}
.newsletter h2{
	color: #FFFFFF;
    font-family: "Roboto Condensed", Sans-serif;
    font-size: 46px;
    font-weight: 500;
    text-transform: uppercase;
    line-height: 1em;
    margin-bottom: 20px;
}
.newsletter input[type="email"] {
    background-color: #ffffff;
    border-color: #6F819E;
    border-width: 1px 1px 1px 1px;
    border-radius: 30px 0px 0px 30px;
    font-family: "Lato", Sans-serif;
    font-size: 15px;
    width: 80%;
    min-height: 47px;
    padding: 6px 16px;
    border: 1px solid #69727d;
    background-color: #fff;
    color: #1f2124;
}
.newsletter input[type="submit"] {
    background-color: #2B3A89;
    color: #ffffff;
    border-color: #2B3A89;
    font-family: "Roboto Condensed", Sans-serif;
    padding: 15px 30px;
    font-size: 15px;
    font-weight: 500;
    min-height: 47px;
    text-transform: uppercase;
    border-style: solid;
    border-width: 1px 1px 1px 1px;
    border-radius: 0px 30px 30px 0px;
    cursor: pointer;
}
.img_abs {
    margin: 0px;
}
/* Home */
#newsltr_hme {
    margin-top: 0 !important;
}


/* Responsive */

@media screen and (max-width: 880px) {
    .newsletter h2 {
        font-size: 32px;
    }
    .img_newsletter img {
        width: 350px;
        top: -180px;
    }
}
@media screen and (max-width:780px) {
    .img_newsletter img {
        width: 200px;
        position: relative;
        top: 0;
    }
    .img_abs {
        width: 50%;
        float: left;
        margin: 0;
    }
    .newsletter-form {
        margin: 0;
        width: 50%;
        float: left;
    }
    section.newsletter {
        margin-top: 0px;
        padding: 20px 0px;
    }
    .newsletter-form {
        margin: 0px 20px 0px 50px;
        width: 80%;
        float: left;
    }
}

@media screen and (max-width: 767px) {
       .img_abs, .newsletter-form {
        width: 100%;

    }
    .inner_container {
        flex-wrap: wrap;
    }
    .newsletter-form {
        margin: 0px 20px 0px 20px;
    }
}